<mat-toolbar class="title">
  <mat-icon style="margin-right: .5rem">{{ (resourceContent$ | async).icon }}</mat-icon>
  <h2>{{ (resourceContent$ | async).title }}</h2>
</mat-toolbar>
<mat-list class="intro-cards" *ngIf="(resourceContent$ | async).introContent">
  <mat-list-item class="intro-card" *ngFor="let card of (resourceContent$ | async).introContent">
    <mat-card>
      <mat-card-header *ngIf="card.header">
        <mat-card-title>{{ card.header }}</mat-card-title>
      </mat-card-header>
      <div class="card-body" [innerHtml]="card.text"></div>
      <mat-card-actions align="end" *ngIf="card.link">
        <a mat-stroked-button class="info-buttons" type="button" target="_self" [href]="card.link">
          <mat-icon>info</mat-icon>
          <span *ngIf="card.linkText; else standardText">{{ card.linkText }}</span>
          <ng-template #standardText>More Info</ng-template>
        </a>
      </mat-card-actions>
    </mat-card>
  </mat-list-item>
</mat-list>
<section class="content-intro" *ngIf="(resourceContent$ | async).sectionHeader">
  <h3>{{ (resourceContent$ | async).sectionHeader }}</h3>
  <mat-icon>arrow_downward</mat-icon>
</section>
<mat-list class="program-cards">
    <mat-list-item class="program-card" *ngFor="let card of (resourceContent$ | async).programs">
      <mat-card>
        <mat-card-header *ngIf="card.header">
          <mat-card-title>{{ card.header }}</mat-card-title>
        </mat-card-header>
        <div class="card-body"><span [innerHtml]="card.text"></span></div>
        <mat-card-footer *ngIf="card.footer">
          <span [innerHtml]="card.footer"></span>
        </mat-card-footer>
        <mat-card-actions align="end" *ngIf="card.link">
          <a mat-stroked-button class="info-buttons" type="button" target="_blank" [href]="card.link">
            <mat-icon>info</mat-icon>
            <span *ngIf="card.linkText; else standardText">{{ card.linkText }}</span>
            <ng-template #standardText>More Info</ng-template>
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-list-item>
</mat-list>
<span class="page-bottom" *ngIf="!(resourceContent$ | async).hideBottomBar"></span>
