<mat-toolbar>
  <div class="title">
    <mat-icon style="margin-right: .5rem">{{ (programPage$ | async).icon }}</mat-icon>
    <h2>{{ (programPage$ | async).title }}</h2>
  </div>
  <div class="subtitle">
    <h3>{{ (programPage$ | async).subtitle }}</h3>
  </div>
</mat-toolbar>
<mat-list class="intro-cards">
  <mat-list-item class="intro-card">
    <mat-card>
      <div class="card-body" [innerHtml]="(programPage$ | async).introText"></div>
      <mat-card-actions align="end" *ngIf="(programPage$ | async).infoButtons">
        <a mat-stroked-button *ngFor="let button of (programPage$ | async).infoButtons"
          [ngClass]="button.extraClass ? button.extraClass : 'info-buttons'" type="button" target="_self" [href]="button.link">
          <span *ngIf="button.linkText; else standardText0">{{ button.linkText }}</span>
          <ng-template #standardText0>Apply</ng-template>
          <mat-icon>double_arrow</mat-icon>
        </a>
      </mat-card-actions>
    </mat-card>
  </mat-list-item>
</mat-list>
<section class="content-intro" *ngFor="let purpose of (programPage$ | async).purpose">
  <h3>{{ purpose.header }}</h3>
  <h3 [innerHtml]='purpose.body'></h3>
  <mat-icon>arrow_downward</mat-icon>
</section>
<mat-list class="program-cards">
  <mat-list-item class="program-card" *ngFor="let card of (programPage$ | async).sections">
    <mat-card>
      <mat-card-header *ngIf="card.header" [ngClass]="card.emphasizeHeader ? 'invert-header' : ''">
        <mat-card-title>{{ card.header }}</mat-card-title>
      </mat-card-header>
      <div class="card-body" [innerHtml]="card.text"></div>
      <iframe *ngIf="card.iframe" style="border-width:0;border-width: 0;height: 25rem;padding: 1rem;margin: auto;" frameborder="0" scrolling="no" [src]="iframeUrl" [height]="card.iframe.height ? card.iframe.height : 400" [width]="card.iframe.width ? card.iframe.width : '90%'"></iframe>
      <div class="logos" *ngIf="card.logos">
        <img *ngFor="let logo of card.logos" [src]="'assets/img/logos/logo_' + logo + '.png'">
      </div>
      <mat-card-actions align="end" *ngIf="card.buttons">
        <a mat-stroked-button *ngFor="let button of card.buttons"
        [ngClass]="button.extraClass ? button.extraClass : 'info-buttons'" type="button" target="_self" [href]="button.link">
        <span *ngIf="button.linkText; else standardText0">{{ button.linkText }}</span>
        <ng-template #standardText0>Apply</ng-template>
        <mat-icon style="margin-left: 1rem">{{ button.icon }}</mat-icon>
      </a>
      </mat-card-actions>
    </mat-card>
  </mat-list-item>
  <mat-list-item *ngIf="['rent-increase-freeze', 'emergency-rent-grants-faq', 'small-business-grants-faq'].includes((programPage$ | async).link)">
    <app-faq [faqPage]="faqPage()"></app-faq>
  </mat-list-item>
</mat-list>
<span class="page-bottom" *ngIf="!(programPage$ | async).hideBottomBar"></span>
