<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Newark 2020 Emergency Fund For Small Businesses Impacted By Covid-19 </span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-grid-list cols="4" rowHeight="30vh">
    <mat-grid-tile colspan="4" rowspan="2">
      <p>Businesses nationwide are suffering enormous impacts related to COVID-19. As one way to help impacted businesses and Newark families, Mayor Ras J. Baraka has taken the initiative to provide financial help to those who qualify. To mitigate barriers to capital for Newark’s most vulnerable small businesses, the City of Newark has committed $2 million in funding. This program may be used in conjunction with other emergency aid supplied by the State of New Jersey and the federal government.</p>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="1">
      <p>This grant helps small businesses with losses they have experienced through loss of income, payroll loss, sales, etc. This emergency fund will provide working capital grants in amounts up to Ten Thousand Dollars ($10,000) to qualifying small businesses.</p>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="1">
      <p>Proceeds can be used for accounts payable, payroll, inventory, equipment, business compliance, licensing renewal, utilities, business capacity, legal, financial services, rent, insurance, business taxes, supplies or most business-related items, subject to funding availability.</p>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <h3>requirements</h3>
      <p>If you represent a small business or non-profit organization in the City of Newark and your business is experiencing financial losses due to this crisis, you may be eligible to apply if you meet the following conditions:</p>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <ul>
          <li>A small business in Newark who is experiencing financial losses due to this crisis</li>
          <li>A physical establishment located in Newark</li>
          <li>Have ten (10) employees or less</li>
          <li>Experienced a direct loss of income due to COVID-19</li>
        </ul>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
        <p>
        For more information about this fund, the documentation that must be submitted and an application:
        Button: Apply Online: Link: https://www.surveymonkey.com/r/NewarkSmallBusinessCOVID19Grant
        </p>
    </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1">
        <ul>
        <li>The deadline to apply is April 30, 2020</li>
        <li>Applicants will be notified within 7 days of submitting an application as to whether they have been selected to receive a grant</li>
        <li>Those selected will receive their grants within 30 days of submitting an application.</li>
      </ul>
        </mat-grid-tile>
        <mat-grid-tile colspan="4" rowspan="1">
        <p>Mayor Baraka’s Newark Economic and Housing Development Department in partnership with United Way of Greater Newark and Invest Newark as sponsors and coordinating partners and Prudential as sponsor are working together in this effort to provide relief while assessing the economic impacts related to COVID-19 on our small business community.
        <br><span>Logos of City, Prudential, United Way, Invest Newark</span>
        </p>

    </mat-grid-tile>
</mat-grid-list>
