<!-- [disableClose]="(sidebarMode$ | async) === 'side' ? true : false" -->
<mat-sidenav-container hasBackdrop="false">
  <mat-sidenav #sidebar fixedInViewport="true" fixedTopGap="92" *ngIf="hasSidebar$ | async" [opened]="sidebarOpened$ | async" [mode]="'over'"
       (openedChange)="onOpenedChange($event)">
       <mat-tree [dataSource]="links" [treeControl]="treeControl" class="link-tree">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" (click)="sidebar.close()" matTreeNodeToggle [routerLink]="(node.parentFragment === undefined) ? ['/', node.path] : [node.parentFragment, node.path]">
          <li [ngClass]="node.isChild ? 'router-tree-child-node' : 'router-tree-node'">
            <button mat-icon-button><mat-icon>{{ node.icon }}</mat-icon></button>
            {{node.title}}
          </li>
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <li>
            <button class="router-tree-node" matTreeNodeToggle mat-icon-button [attr.aria-label]="'toggle ' + node.title">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
              {{node.title}}
            </button>
            <ul [class.tree-invisible]="!treeControl.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>
          </li>
        </mat-nested-tree-node>
       </mat-tree>
       <div style="width: 100%; display: flex; flex-direction: row;justify-content: space-around; margin-top: 2rem">
        <!-- <button mat-flat-button color="accent" [routerLink]="['/help']">
          <mat-icon>help</mat-icon>
        </button> -->
        <button mat-flat-button color="accent" (click)="sidebar.close()">
        <mat-icon>close</mat-icon>
        </button>
      </div>
  </mat-sidenav>
  <mat-sidenav #sidebarRight position="end" *ngIf="hasSidebarRight$ | async" [opened]="sidebarRightOpened$ | async"
      [mode]="sidebarRightMode$ | async" [disableClose]="(sidebarRightMode$ | async) === 'side' ? true : false"
      (openedChange)="onRightOpenedChange($event)">
      <mat-grid-list cols="4" rowHeight="3rem" gutterSize="1rem">
        <mat-grid-tile colspan="4" rowspan="2">
          <h2>Important Links</h2>
        </mat-grid-tile>
        <mat-grid-tile *ngFor="let link of rightlinks" colspan="4" rowspan="1" class="sidebar-links">
          <button [routerLink]="link.link">
            <mat-icon style="margin-right: 1rem">{{ link.icon }}</mat-icon>
            <span>{{ link.title }}</span>
          </button>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1" class="sidebar-tile">
          <button mat-flat-button color="accent" (click)="toggleRightSidebar()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <mat-toolbar-row class="header">
          <span class="toolbar-spacer left-icon"><app-sidebar-button [iconName]="'menu'"></app-sidebar-button></span>
          <span class="newark-title">City of Newark<span class="mayorText" [style.display]="mayorDisplay === true ? 'none' : 'inline'"> | Mayor Ras J. Baraka</span></span>
          <span class="toolbar-spacer right-icon">
            <!-- <app-sidebar-button [iconName]="'info'"></app-sidebar-button> -->
          </span>
    </mat-toolbar-row>
      <mat-toolbar-row class="sub-header">
          <span class="toolbar-spacer"></span>
          <span class="dept-title">
            <span [style.display]="deptDisplay === true ? 'none' : 'inline'">Department of </span>Economic & Housing Development<span class="directorText" [style.display]="deptDisplay === true ? 'none' : 'block'">Deputy Mayor and Director Allison Ladd</span></span>
          <span class="toolbar-spacer"></span>
      </mat-toolbar-row>
    </mat-toolbar>
    <section class="main-content">
      <router-outlet>
      </router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
