@use "../assets/styles/variables"as *;

.mat-toolbar {
    color: white;
    -webkit-text-fill-color: white;
    background-color: #0d47a1;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
    position: fixed;
    z-index: 100;
}

.main-content {
    margin-top: 6.6rem !important;
    @media only screen and (max-width: 768px) {
      margin-top: 6rem !important;
    }
}

.sidebar-logo {
    max-width: 95%;
    max-height: 95%;
}

.link-tree {margin-top: 1rem;}
.router-tree-child-node {
  span {
      display: flex;
      flex-direction: row;
  }

  mat-icon {
      font-size: 1.5rem;
      margin: auto;
  }
  background: none;
  font-family: 'Segoe UI', 'Open Sans', sans-serif;
  font-size: 1rem;
  border: none;
  list-style: none !important;
  margin-left: -1.5rem;
  cursor: pointer;
  &:before {
    content: "\200B";
  }

  &:hover {
      background-color: $primary-color !important;
      box-shadow: none;
      color: white;
      -webkit-text-fill-color: white;
  }

  &:active {
      background-color: $accent-color !important;
      box-shadow: none;
      color: lightslategray;
      -webkit-text-fill-color: lightslategray;
  }
}
.mat-nested-tree-node {
  li {min-height: 48px !important; width: 100%;}
}
.router-tree-node {
    .mat-button-wrapper {
        display: flex;
        flex-direction: row;
        margin-left: .5rem;
        width: 100%;
        justify-content: space-between;
    }

    mat-icon {
        font-size: 1.5rem;
        margin: auto 0;
    }

    background: none;
    font-family: 'Segoe UI',
    'Open Sans',
    sans-serif;
    display: flex;
    margin: 1rem 5%;
    height: 2.75rem;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    border: none;
    border-top: 2px solid !important;
    border-radius: .25rem;
    box-shadow: 0px 2px 0px rgba(0,0,0,.25) !important;
    width: 90%;
    padding: 0 .5rem;
    list-style: none !important;
    cursor: pointer;

    &:hover {
        background-color: $primary-color !important;
        box-shadow: none;
        color: white;
        -webkit-text-fill-color: white;
    }

    &:active {
        background-color: $accent-color !important;
        box-shadow: none;
        color: lightslategray;
        -webkit-text-fill-color: lightslategray;
    }
}
.tree-invisible {
  display: none;
}
.newark-title {
    font-family: 'Segoe UI', sans-serif;
    font-size: 2rem;
    flex: 1 1 70%;
    text-align: left;
    font-weight: 600;

    .mayorText {
        font-weight: 100;
    }

    @media only screen and (max-width: 769px) {
        text-align: center;
        text-indent: unset;
        font-size: 1.5rem;
    }
}

.dept-title {
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.1rem;
    line-height: 1.3rem;
    font-weight: 600;
    background-color: #FDCB06 !important;
    color: black;
    -webkit-text-fill-color: black;
    flex: 1 1 70%;
    text-align: left;
    text-indent: 1rem;
    border-radius: .25rem .25rem 0 0;
    .directorText {font-weight: 300;}
    @media only screen and (max-width: 769px) {
        font-size: 1rem;
        line-height: 1rem;
        text-align: center;
        text-indent: unset;
    }
    @media only screen and (max-width: 576px) {
      font-size: 1rem;
      line-height: 2rem;
      text-align: center;
      text-indent: unset;
  }
}

.toolbar-spacer {
    display: flex;
    flex: 1 1 15%;
    align-items: center;

    &.right-icon {
        justify-content: flex-end;
    }

    &.left-icon {
        justify-content: flex-start;
    }
}

.mat-toolbar-row {
    &.header {
        height: 4rem;
    }

    &.sub-header {
      height: 2.6rem;
    @media only screen and (max-width: 769px) {
      height: 2rem;
    }
  }
}
.intro-list li {list-style-position: inside !important;}
.router-link-active {
  text-decoration: underline #fdcb06 3px;
  font-weight: 600;
  mat-icon {color: #fdcb06; -webkit-text-fill-color: #fdcb06}
}
