@use '../.../../../../assets/styles/variables' as *;

:host {
  font-family: "Segoe UI", "Open Sans", sans-serif;
  font-size: 16px;
}
.page-alert {
  a.subtitle-link {all: unset; text-decoration: none; font-weight: 600; font-size: 1.5rem !important;}
  .mat-icon {margin-top: .25rem;}
  position: absolute;
  padding: .5rem 0 .5rem 15vw !important;
  align-items: flex-start;
  background: rgba(0,0,0,0);
  box-shadow: none;
  color: white !important;
  -webkit-text-fill-color: white !important;
  cursor: pointer;
  @media screen and (max-width: 769px) {
    padding: .5rem 1rem !important;
    height: unset !important;
    flex-direction: row;
    white-space: normal !important;
    line-height: normal !important;
    a.subtitle-link {font-size: 1.1rem !important;}
  }
}
.splash {
  display: flex;
  flex-direction: column;
  background-image: url('../../../assets/img/NwkCitySky.png');
  background-size: cover;
  background-attachment: fixed;
  background-color: #0d47a1;
  height: 66vh;
  div {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    div:nth-of-type(2) {
        align-items: flex-start;
    }
}
.button-card {
  display: flex;
  flex-direction: row;
  align-self: stretch;
}
.splash-header {
  flex: 1 1 33%;
  @media only screen and (max-width: 768px) {
    flex: 1 1 25%;
  }
}
.splash-body {
  flex: 1 1 66%;
  @media only screen and (max-width: 768px) {
    flex: 1 1 75%;
  }
}
.splash-title {
    display: flex;
    flex-direction: row;
    line-height: normal;
    align-self: flex-end;
    color: #fff;
    -webkit-text-fill-color: #fff;
    font-weight: bold;
    border-radius: .5rem;
    margin: unset !important;
    margin-bottom: 2rem !important;
    flex: 1 1 70%;

    h2 {
        font-size: 2.5rem;
        line-height: 2.5rem;
        margin: unset;
        font-weight: bold;
        display: flex;
        padding: .15rem 1rem;
        border-radius: .2rem;
        @media screen and (max-width: 576px) {
          font-size: 1.5rem;
          padding: .15rem 1rem;
        }
        @media screen and (min-width: 576px) and (max-width: 768px) {
          font-size: 1.85rem;
          padding: .15rem 1rem;
      }
 }
}
.splash-subtitle {
    display: flex;
    flex-direction: row;
    line-height: normal;
    max-height: 20rem;
    padding: 1rem;
    color: #fff !important;
    -webkit-text-fill-color: #fff !important;
    border-radius: .2rem;
    margin: unset !important;
    flex: 1 1 70%;
    background: rgba(0,0,0, 0.8);
    font-size: 1.15rem;
    font-weight: 500;
    box-shadow: .2rem .2rem 0px rgba(260, 260, 260, 0.9);
    div {
        display: flex;
        flex-direction: column;
        align-self: center;
        padding: 0;
        p {padding: 0;margin:0}
        P:before {content: '"';}
        P:after {content: '"';}
        h4 {font-weight: 600;margin: 0; margin-left: auto; }
        span {
          font-weight: 500;
          font-size: 1.5rem;
          margin:0;
          margin-left: auto;
          line-height: 0;
          img {
            width: 5rem;
            vertical-align: text-bottom;
            filter: invert(1);
            -webkit-filter: invert(1);
          }
        }
        @media screen and (max-width: 576px) {
          font-size: 1rem;
          padding: .15rem 1rem;
        }
        @media screen and (min-width: 576px) and (max-width: 768px) {
          font-size: 1.25rem;
          padding: .15rem 1rem;
      }
    }
  .baraka {
    margin-left:1rem;
    max-width: 8rem;
    border-radius: .25rem;
    object-fit: contain;
    object-position: center center;
    @media only screen and (max-width: 768px) {
      display:none;
  }
  }
}
.content-intro {
  color: white;
  -webkit-text-fill-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #0d47a1;
  align-items: stretch;
  text-align: center;
  height: 33vh;
  padding: 0 !important;
  font-size: 1.3rem !important;
  box-shadow: 0rem 0.2rem 0.6rem rgba(0, 0, 0, 0.5);
  .middle {
    display: flex;
    flex-direction: column;
    flex: 1 1 20%;
    justify-content: space-between;
    background-color: rgb(183, 28, 28);
    margin: 0;
    padding: 1rem;
    h3 {
      display: flex;
      margin: 0;
      @media only screen and (max-width: 768px) {
        font-size: 1.25rem !important;
      }
    }
    mat-icon {
      display: inline-flex;
      margin: .85rem auto;
      font-size: 3rem;
      text-indent: -.85rem;
      vertical-align: middle;
    }
  }
  .left {
    display: flex;
    flex-direction: column;
    flex: 1 1 40%;
    height: 100%;
    padding: 1rem;
    justify-content: space-between;
    h4 {margin: .5rem 1rem; }
    a {
      color: black;
      -webkit-text-fill-color: black;
      display: inline-flex;
      font-size: 1.5rem;
      margin: 0;
      margin-left: .5rem;
    }
    p {margin: 0 5%; font-size: 1.1rem}
    img {
      width: 2.15rem;
      vertical-align: middle;
      margin: -0.5rem .5rem 0 0;
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    flex: 1 1 40%;
    padding: 1rem;
    height: 100%;
    justify-content: space-between;
    z-index: 1;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    &:hover {
      background-color: $primary-color !important;
      box-shadow: none;
      color: white;
      -webkit-text-fill-color: white;
      cursor: pointer;
    }
    &:active {
        background-color: $accent-color !important;
        box-shadow: none;
        color: lightslategray;
        -webkit-text-fill-color: lightslategray;
        cursor: pointer;
    }
    p {margin: 0 5%; font-size: 1.3rem}
    h4 {margin: .5rem 1rem; }

    .mat-icon {
      display: inline-flex;
      margin: 0 auto;
      width: 5rem;
      height: auto;
      vertical-align: middle;
      filter: invert(1);
    }
  }
}
.banner-button {
  background: none;
  padding: 0em !important;
  margin: 1.5em auto 0em auto;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  width: 85%;
  font-size: 1.5em;
  font-weight: 600;
  justify-content: space-between;
  cursor: pointer;
  .icon-fix {
    line-height: 1em !important;
    text-decoration: none !important;
    height: 1em !important;
    width: 1em !important;
    font-size: 1.25em;
  }
  div {
    flex: 1 1 auto;
    display: flex;
    padding: 0.5em;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border: 0.15em solid black;
  }
  div:first-of-type {
    max-width: 5em;
    min-width: 3em;
    color: white;
    -webkit-text-fill-color: white;
    background: black;
    border-radius: 5px 0 0 5px;
  }
  div:nth-of-type(2) {
    text-align: left;
    border-right: none;
  }
  div:last-of-type {
    border-radius: 0 5px 5px 0;
    border-left: none;
    max-width: 3em;
  }
  &:hover {
    box-shadow: 0.5px 0.5px 5px rgba(0,0,0,25%);
    div:nth-of-type(2) {
      text-decoration: underline;
    }
    .icon-fix {
      font-weight: 600;
    }

  }
}
.program-cats {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  mat-list-item {
    font-size: 1.15rem;
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 1rem auto;
    h3 {text-align: left; font-size: 1.5rem;}
    .mat-expansion-panel {
      border-top: 2px solid !important;
      border-radius: 0.25rem;
      box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25) !important;
      margin: 1rem auto;
    }
    .mat-expansion-panel-header {
      flex-direction: row-reverse;
      height: 5rem !important;
      font-size: 1.25rem !important;
      padding-right: .1rem !important;
    }
    .mat-expansion-panel-header-title {
      font-weight: 500 !important;
      margin-right: .1rem !important;
      justify-content: center !important;
      @media screen and (max-width: 769px) {
        justify-content: flex-end !important;
      }
    }
  }
}
.program-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.program-card {
  flex: 0 1 30%;
  margin: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  height: 6rem;
  box-shadow: none;
  border: .85px black solid;
  padding: .75rem;
  &:hover {
    background-color: $primary-color !important;
    box-shadow: none;
    color: white;
    -webkit-text-fill-color: white;
    cursor: pointer;
  }

  &:active {
      background-color: $accent-color !important;
      box-shadow: none;
      color: lightslategray;
      -webkit-text-fill-color: lightslategray;
      cursor: pointer;
  }
}
.expandButton {
  display: flex;
  font-weight: 600;
  color: gray;
  -webkit-text-fill-color: gray;
  justify-content: space-around;
  margin: auto !important;
  width: 62% !important;
}
.page-bottom {height: 5rem; width: 100%; display: flex; background-color: black;}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .splash-title,
  .splash-subtitle {
    flex: 1 1 90%;
  }
  .toolbar-spacer {
    display: flex;
    flex: 1 1 5%;
    align-items: center;

      &.right-icon {
          justify-content: flex-end;
      }

      &.left-icon {
          justify-content: flex-start;
      }
  }
  .program-card {
    flex: 1 1 45%;
  }
  .content-intro {
    font-size: 1rem;
    height: 28vh !important;
    h4 {margin: .3rem}
    .left {
      p {display: none;  }
    }
  }
}
@media screen and (max-width: 576px) {
  .program-card {
    flex: 1 1 90%;
  }
  .content-intro {
    font-size: 1rem;
    height: auto !important;
    h4 {margin: .1rem}
    .left {
      padding: .5rem;
      p {display: none;}
    }
    .middle {padding: .5rem;}
    .right {
      background-color: orange;
      flex: 1 1 100%;
      order: -1;
    }
  }
  .splash-title,
  .splash-subtitle {
    flex: 1 1 90%;
  }
  .splash-subtitle {
    max-height: 25rem;
    font-size: 1.15rem;
  }
}
