@use "assets/styles/variables"as *;
@import "assets/styles/fonts";
@import "assets/styles/material";

:host {
    font-family: $nwk-font-family;
}
* {
  box-sizing: border-box;
}
html,
body {
    font-family: $nwk-font-family;
    margin: 0 !important;
    font-size: calc(6px + .33vw + .85vh) !important;
    line-height: calc(1rem + 1.15vh) !important;
}
#google_translate_element {
  display: flex;
  justify-content: flex-end;
  padding: 0.25rem 1rem 0.25rem 0;
  background: lightgrey;
}
.mat-expansion-panel-content {
  font: 500 1rem/2rem Segoe UI,sans-serif !important;
}

.mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6 {
  font: 500 1.3rem/2rem Segoe UI, sans-serif !important;
}
.mat-button, .mat-fab, .mat-flat-button, .mat-icon-button, .mat-mini-fab, .mat-raised-button, .mat-stroked-button {
  font-size: 1rem !important;
}

.mat-expansion-panel-header {
  font-size: 1rem !important;
}
.mat-button-toggle, .mat-card {
  line-height: 1.5rem !important;
}
.mat-toolbar-row, .mat-toolbar-single-row {
  padding: 0 1rem !important;
  height: 4.6rem !important;
}
.newark-title {
  border-bottom: .2rem solid #fff;
  padding: 1.3rem .85rem
}
.mat-raised-button {
  min-width: 5rem !important;
  line-height: 2.5rem !important;
  padding: 0 1rem !important;
  border-radius: .2rem !important;
}
.mat-expansion-panel-header {
  padding: 0 2rem;
  border-radius: .2rem;
}
.mat-expansion-panel-body {
  padding: 0 1.5rem 1rem;
}
.mat-card {
  padding: 1rem;
  border-radius: .2rem;
}
.material-icons {
  font-size: 1.5rem;
  line-height: 1.5rem;
}


.mat-sidenav-container {
    width: 100%;
    height: 100%;
    background-color: white;

    @media screen and (max-width: 500px) {
        width: 100vw;
    }

    .mat-sidenav {
        padding: 0px;
        width: $nwk-sidebar-width;
        box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .2), 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12);

        @media only screen and (max-width: 576px) {
            width: 100vw;
        }

        @media only screen and (min-width: 576px) and (max-width: 768px) {
            width: 66vw;
        }

        @media only screen and (min-width: 576px) and (max-width: 768px) {
            width: 50vw;
        }

        @media only screen and (min-width: 768px) and (max-width: 1200px) {
            width: 40vw;
        }

        @media only screen and (min-width: 1200px) {
            width: 30vw;
        }

        .mat-drawer-content {
            background-color: white;
        }
    }

    .mat-sidenav-content {
        height: 100%;
        align-items: center;
        justify-content: center;
    }
}
.intro-pic {
  display: flex;
  float: left;
  width: 40%;
  height: 40vh;
  margin: 1.2rem;
  margin-top: 0px;
  border-radius: 0.2rem;
  box-shadow: .1rem .1rem .15rem gray;
  &.card {
    width: 100% !important;
    height: auto !important;
    float: unset !important;
    box-shadow: none !important;
    margin: auto !important;
    max-width: 1000px !important;
    object-fit: contain !important;
    min-height: 80vh !important;
  }
  &.full-top {
    background: rgb(49, 183, 255);
    height: 70vh;
    width: 100%;
    margin: auto;
  }
  &.contain {object-fit: contain !important;}
  &.card-img {
    height: unset;
    max-height: 43vh;
  }
  &.logo {
    background: white;
    object-fit: contain;
    padding: 3rem;
    border: .5rem solid #fcd504;
  }
  &.logo-sm {
  width: 10rem;
  height: auto;
  float: left;
  }
  &.hide-sm {
    display: flex;
    }
  @media screen and (max-width: 768px) {
    width: 100%;
    max-height: 40vh;
    object-fit: cover;
    margin: 1rem auto !important;
    float: none;
    background: linear-gradient(to right, rgba(0,0,0,.25) 0%, rgba(260,260,260,.25) 25%, rgba(260,260,260,.5) 75%, rgba(0,0,0,.25) 100%);
    &.card {
      width: 100%;
    }
    &.hide-sm {
      display: none !important;
    }
  }
}
.toolbar-spacer {
  display: flex;
  align-items: center;

  &.right-icon {
  justify-content: flex-end;
  flex: 1 1 85%;
  }

  &.left-icon {
    justify-content: flex-start;
    flex: 1 1 auto;
    margin-top: .5rem;
    @media screen and (max-width: 576px) {
      flex: 1 1 15%;
    }
    @media screen and (min-width: 576px) and (max-width: 769px) {
      flex: 1 1 6%;
    }
  }
  &.right-space {
    justify-content: flex-end;
    flex: 1 1 15%;
    @media screen and (max-width: 576px) {
      flex: 1 1 5%;
    }
    @media screen and (min-width: 576px) and (max-width: 769px) {
      flex: 1 1 10%;
    }
  }

  &.left-space {
    justify-content: flex-start;
    flex: 1 1 15%;
    @media screen and (max-width: 576px) {
      flex: 1 1 5%;
    }
    @media screen and (min-width: 576px) and (max-width: 769px) {
      flex: 1 1 10%;
    }
  }
  }
.intro-list {
  list-style-position: inside !important;
}
.docEmbed {
  width: 100%;
  height: 70vh;
  border:none;
}
.videoEmbed {
  width: 62%;
  height: 50vh;
  margin: 0 19%;
  border: .5rem solid black;
  border-radius: .5rem;
  &.cover::before {
    content: "Click to Play";
    background-color: rgba(0,0,0,.25);
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
.text-table {
  width: 100%;
  overflow-x: auto;
  border-collapse: collapse;
  &.normal-size {
    max-height: 60vh;
    font-size: 1rem;
    line-height: normal;
    text-align: left;
    display: block;
    td {
      border-bottom: rgba(0, 0, 0, .12) 0.5px solid;
    }
  }
  tbody {vertical-align: top;}
  tr { padding: .5rem;}
  tr.bordered {
    td:not(.side-header) {border: .1rem solid lightgrey; text-align: center;}
  }
  td {padding: .25rem; vertical-align: middle;}
  th, td { min-width: 20rem; }
  th.title {
    background-color: grey;
    border: .1rem solid grey;
    color: white;
    -webkit-text-fill-color: white;
  }
  td.side-header,th.side-header {
    background-color: rgba(50,50,50,.1);
    padding: .5rem;
    text-align: center;
    width: 9rem;
    border: .1rem solid rgba(50,50,50,.1);
  }
  td.propVals {
    display: flex;
    flex-direction: column;
    width: 9rem;
  }
  @media screen and (max-width: 769px) {
      display: block;
  }
}

