<mat-toolbar>
  <mat-icon style="margin-right: .5rem">{{ faqPage.icon }}</mat-icon>
  <h2 [translate]="'FAQ.title.' + faqPage.type">{{ faqPage.title }}</h2>
</mat-toolbar>
<mat-card class="categories-card">
  <mat-card-subtitle [translate]="'FAQ.clickText.'+faqPage.type">Click on a category below to learn more about issues affecting {{faqPage.type | titlecase}}</mat-card-subtitle>
  <mat-list class="categories">
    <mat-list-item class="categories-item" *ngFor="let cat of faqCategories; let i=index">
      <button mat-stroked-button color="accent" mat-list-item (click)="scrollTo(i)">{{ cat }}</button>
    </mat-list-item>
  </mat-list>
</mat-card>
<mat-list>
  <mat-list-item *ngFor="let cat of faqCategories; let i=index">
    <h3 mat-list-item [id]="'category' + i">
      <mat-divider style="margin: 1rem 0;"></mat-divider>
      {{ cat }}
    </h3>
      <mat-accordion mat-list-item>
        <mat-expansion-panel *ngFor="let faq of faqText | FaqCat:filterCat(cat)" [id]="faq.id">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ faq.question }}
            </mat-panel-title>
            <mat-panel-description>
              {{ faq.category }}
            </mat-panel-description>
          </mat-expansion-panel-header>
              <P [innerHtml]="faq.answer"></P>
              <p *ngIf="faq.info" [innerHtml]="faq.info"></p>
              <p *ngIf="faq.extraInfo">
                <span *ngFor="let info of faq.extraInfo" [innerHtml]="info"></span>
              </p>
        </mat-expansion-panel>
      </mat-accordion>
  </mat-list-item>
</mat-list>
<span class="page-bottom"></span>
