.mat-toolbar {
  h2 {font-weight: 600; font-size: 1.5rem}
  h3 {font-size: 1.2rem; }
  .mat-icon {margin-top: .25rem;}
  .title {display: flex; min-height: 2.5rem;}
  padding: .5rem 0 .5rem 12.5rem !important;
  align-items: flex-start;
  background: linear-gradient(rgba(183, 28, 28, 0.15) 0%, white 100%);
  @media screen and (max-width: 769px) {
    padding: .5rem 1rem !important;
    height: unset !important;
    flex-direction: row;
    white-space: normal !important;
    line-height: normal !important;
    h2 {font-size: 1.15rem;}
  }
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: unset !important;
  max-width: 100vw;
  height: 100%;
  font: inherit;
  font-size: 1.5rem;
}

.intro-card {
  display: flex !important;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
  .mat-card {width: 100%;   box-shadow: none;}
  .card-body {
  font-size: 1.3rem !important;
  line-height: 1.85rem;
  p {height: 35vh;}
  }
}
.intro-list {
  list-style-position: inside !important;
}

.intro-cards {
margin: auto;
display: flex;
flex-direction: column;
}
.mat-card {
width: 90%;
margin: 1rem auto;
}
.mat-card-header {
color: rgb(13, 71, 161) !important;
-webkit-text-fill-color: rgb(13, 71, 161) !important;
border: solid .1rem rgba(13, 71, 161, 0.66);
padding: 0.2rem;
margin-bottom: 1rem;
border-width: 0 0 .1rem 0;
.mat-card-title {
  font-size: 1.5rem !important;
  }
}
.card-body {
  font-size: 1.3rem !important;
  line-height: 2rem;
  margin: 1rem auto;
}
.info-buttons {
  color: rgb(13, 71, 161) !important;
  -webkit-text-fill-color: rgb(13, 71, 161) !important;
  border-color: rgba(13, 71, 161, 0.66);
   width: 100%;
  margin: unset !important;
  display: flex;
  flex: 1 1 30%;
  justify-content: space-evenly;
  margin: auto .5rem !important;
  align-content: center;
  align-items: center;
  white-space: normal;
  line-height: normal;
  &.actionsCol {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto !important;
    .important {    width: 100% !important;  }
    @media screen and (max-width: 576px) {
      width: 100%;
    }
    @media screen and (min-width: 576px) and (max-width: 769px) {
      width: 75%;
    }
    }
  }
  .important {
    font-size: 2rem !important;
    color: white !important;
    -webkit-text-fill-color: white !important;
    border-color: rgb(13, 71, 161);
    background-color: rgb(13, 71, 161, .85);
    margin: 1% !important;
    display: flex;
    flex: 1 1 50%;
    justify-content: center;
    box-shadow: .1px .1px 4px rgba(0,0,260,.4);
    font-weight: 600;
    height: 3rem;
    mat-icon {font-size: 2rem; margin-left: 1rem}
  }
  .full-width-button {
    color: rgb(13, 71, 161) !important;
    -webkit-text-fill-color: rgb(13, 71, 161) !important;
    border-color: rgba(13, 71, 161, 0.66);
    width: 100% !important;
    margin: 1% !important;
    display: flex;
    flex: 1 1 95%;
    justify-content: center;
    box-shadow: .1px .1px 4px rgba(0,0,260,.4);
    font-weight: 600;
    padding: .5rem 0 !important;
    }
  .content-intro {
  color: white;
  -webkit-text-fill-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(13, 71, 161);
  text-align: center;
  font-size: 1.2rem;
  padding: 0 2rem;
  h3 {
    max-width: 90%;
    margin: .5rem auto;
    @media only screen and (max-width: 768px) {
      font-size: 1.2rem !important;
    }
  }
  mat-icon {
    margin: .85rem auto;
    vertical-align: middle;
  }
  }
  .page-bottom {height: 5rem; width: 100%; display: flex; background-color: black;}
