@use '../../../node_modules/@angular/material/theming'as *;

$link-hover-decoration: none;
$label-margin-bottom: 0;

$grid-breakpoints: (xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px);

$success-colors: mat-palette($mat-green, 400);
$warning-colors: mat-palette($mat-amber, 400);
$nwk-primary-colors: mat-palette($mat-deep-purple);
$nwk-accent-colors: mat-palette($mat-blue-gray, 100, 500, A100);
$nwk-warn-colors: mat-palette($mat-deep-orange);
$primary-color: mat-color($nwk-primary-colors);
$accent-color: mat-color($nwk-accent-colors);
$warn-color: mat-color($nwk-warn-colors);

$nwk-sidebar-width: 450px;
$nwk-font-family: 'Segoe UI',
'Open Sans',
sans-serif;

$grey: rgba(0, 0, 0, 0.2);
$transition-time: 0.2s;
$transition: padding-left $transition-time,
border-left $transition-time,
color $transition-time;

@mixin mat-icon-size($size: 24px) {
    font-size: $size;
    height: $size;
    width: $size;
}